.in-gp .form-control, .in-sel {
    width: 100%;
    text-align: center;
    border: 1px solid #DDD !important;
    background-color: #fff !important;
    font-size: 0.9em !important;
    color: #6C757D !important;
    margin: 0px !important;
}